.m-bg-jquery{
	background-color: $clJquery;
}

.m-fg-jquery{
	color: $clJquery;
}

.m-bg-javascript{
	background-color: $clJavascript;
}

.m-fg-javascript{
	color: $clJavascript;
}

.rt-cloak{
	display: none;
}