$baseFontSize: 16px;
$baseFontFamily: 'PT Sans', sans-serif;
$baseHeaderFontFamily: 'PT Sans Narrow', sans-serif;

$clText: #444;
$clTextLight: #919191;

$clBrand: #171717;
$clBrandAlt: #1d1d1d;
$clBrandLight: #ececec;