<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
	<link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
	<link href="/css/vendor/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/vendor/semantic.min.css" rel="stylesheet">
	<link href="/css/vendor/font-awesome.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="loading-bar">
	</div>
	<div class="container-fluid loading">
		<nav class="row">
			<a class="logo" href="/">
				<img src="http://placehold.it/150x100">
			</a>
			<a href="">Movies</a>
			<a href="">Quotes</a>
		</nav>
		
		<rtview></rtview>
	</div>

	<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="/js/vendor/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/vendor/semantic.min.js"></script>
	<script type="text/javascript" src="/js/compiled-ts.js"></script>

	<script type="text/javascript">
		Views.Index.Templater.template("movieOfTheDay", {
			"movie.name": "Fight club",
			"movie.year": 1999,
			"quote.text": "First"
		});
	</script>

</body>
</html>