.loading-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-image: url("/images/bg.png");
	z-index: 1;

	transition: transform 1s;
	transition-delay: 2s;

	transform: translate(0, -100%);

	.loading-reel{
		margin: auto;
		display: block;
		margin-top: 15%;
		width: 250px;
		height: auto;

	    animation-name: spin;
	    animation-duration: 2.5s;
	    animation-iteration-count: infinite;
	    animation-timing-function: linear;
	}

	.loading-text{
		color: white;
		font-weight: bold;
		text-align: center;
		font-size: 72px;

		transform: scale(1.1, 0.8);
	}
}

.loaded{
	.loading-overlay{
		// transform: translate(0, -100%);
	}
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}