nav{
	background: $clBrand;

	.menu-item:not(.logo){
		display: table-cell;
		padding-left: 20px;
		padding-right: 20px;
		font-weight: bold;
		color: $clTextLight;
		font-size: large;

	    transition: color .25s ease-in-out;
	    -moz-transition: color .25s ease-in-out;
	    -webkit-transition: color .25s ease-in-out;

		&:hover, &.active{
			color: white;
		}
	}

	.menu-item.logo{
		display: table-cell;
		padding: 10px;

		img {
			width: 40px;
			height: auto;
		}
	}
}