.popular-movies{
	margin: 0 50px;
	> a {
		display: block;
		border: 0;
		border-bottom: 1px solid #ccc;
		border-radius: 0;
		background: white;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;

		img{
			width: auto; 
		}

		p{
			margin-top: 20px;
		}

		.social{
			float: right;
			
			span{
				font-size: small;
			}
		}
	}
}