.popular-movies{
	> .movie-row {
		display: block;
		border: 0;
		border-bottom: 1px solid #ccc;
		border-radius: 0;
		background: white;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;

		margin-bottom: 0;
		padding-top: 40px;

		transition: background-color .25s ease-in-out;

		&:hover{
			background-color: $clBrandLight;
		}

		img{
			width: auto; 
		}

		p{
			margin-top: 20px;
		}

		a{
			text-decoration: underline;
		}

		.social{
			float: right;
			
			span{
				font-size: small;
			}
		}
	}
}