<template>
	<div class="popular-movies">
		{{for movie in movies}}
			<div itemscope itemtype="http://schema.org/Movie" class="well row movie-row">
				<div class="col-lg-2 col-sm-3">
					<img itemprop="image" src="{{movie.verySmallCoverPhoto}}" />
				</div>
				<div class="col-lg-10 col-sm-9">
					<h3>
						<span itemprop="name">{{movie.title}}</span>
						(<span>{{movie.year}}</span>)
					</h3>
					<p>
						{{for line in movie.quote.lines}}
							<strong>{{line.character != undefined ? line.character + ": " : ""}}</strong>
							<span>{{line.text}}</span>
							<br>
						{{endfor}}
					</p>
					<a itemprop="url" href="#!/movie-details/{{movie.slug}}">Read more...</a>
					<div class="social">
						<span>Like</span>
						<span>Share</span>
						<span>
							<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world">Tweet</a>
						</span>
					</div>
				</div>
			</div>
		{{endfor}}
	</div>
</template>