<template>
	<div itemscope itemtype="http://schema.org/Movie">
		<h1>
			<span itemprop="name">{{movie.title}}</span>
			(<span>{{movie.year}}</span>)
		</h1>
		<img itemprop="image" src="{{movie.coverPhoto}}">
		{%for (i in quotes){%}
			<h3>Quote {{(parseInt(i)+1)}}</h3>
			{%for (j in quotes[i].lines){%}
			{%var line = quotes[i].lines[j];%}
				<div>
					<strong>{{line.character ? line.character + ': ' : ''}}</strong>
					{{line.text}}
				</div>
			{%}%}
			
			<div class="social">
				<span>Like</span>
				<span>Share</span>
				<span>Tweet</span>
			</div>
			<hr>
		{%}%}
	</div>
</template>