<template>
	<div class="popular-movies">
		<h3>Popular movies</h3>
		{{for movie in movies}}
			<a href="#!/movie-details/{{movie.slug}}" class="well row movie-row">
				<div class="col-lg-2 col-sm-3">
					<img src="{{movie.smallCoverPhoto}}" />
				</div>
				<div class="col-lg-10 col-sm-9">
					<h3>{{movie.title}}</h3>
					<p>
						{{for line in movie.quote.lines}}
							<strong>{{line.character != undefined ? line.character + ": " : ""}}</strong>
							<span>{{line.text}}</span>
							<br>
						{{endfor}}
					</p>
					<div class="social">
						<span>Like</span>
						<span>Share</span>
						<span>Tweet</span>
					</div>
				</div>
			</a>
		{{endfor}}
	</div>
</template>