<template name="quotes-template">
	<div class="quotes">
		<h3>Popular movies</h3>
		{{for movie in movies}}
			<a href="#!/movie-details/{{movie.movie-id}}" class="well row">
				<div class="col-sm-2">
					<img src="{{movie.movie-cover-photo}}" />
				</div>
				<div class="col-sm-10">
					<strong>{{movie.movie-title}}</strong>
					<p>{{movie.quote-text}}</p>
					<div class="social">
						<span>Like</span>
						<span>Share</span>
						<span>Tweet</span>
					</div>
				</div>
			</a>
		{{endfor}}
	</div>
</template>